@import "./assets/scss/variables";

.button {
	display: inline-block;
	background: $gray70;
	border: none;
	border-radius: 50px;
	padding: 12px 50px;
	color: #333;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	transition: all ease 0.2s;
	outline: none;
	&:hover {
		background: #444;
		transition: all ease 0.2s;
	}
}

.primary {
	background: $primary_color;
	color: #fff;
	&:hover {
		background: $primary_color_light;
	}
}

.primary_outline {
	background: transparent;
	border: 1px solid $primary_color;
	color: $primary_color;
	&:hover {
		background: $primary_color;
		color: #fff;
	}
}

.button:disabled,
.button[disabled] {
	background: $gray20;
	opacity: all ease 0.2s;
	cursor: not-allowed;
}
